<style>
	html {
		background-color: #202020;
	}

	body {
		margin: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	div {
		font-family: sans-serif;
		color: white;
		font-size: 20px;
		margin-bottom: 20px;
	}
</style>

<div>Флаг доедет через <span id="time_left">3:33</span>, а пока музыкальная пауза</div>

<iframe width="640" height="360" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0"></iframe>

<script>
	let timeLeft = 3 * 60 + 33;
	const interval = setInterval(async () => {
		timeLeft--;
		let s = Math.floor(timeLeft / 60) + ":";
		if (timeLeft % 60 < 10) {
			s += "0";
		}
		s += timeLeft % 60;
		document.querySelector("#time_left").textContent = s;
		if (timeLeft === 0) {
			clearInterval(interval);
			alert(await (await fetch(`/api/flag/${flowId}`)).text());
		}
	}, 1000);
</script>
